<launch>
    <node respawn="true" pkg="joy" type="joy_node" name="joystick">
        <param name="dev" type="string" value="/dev/input/js0"/>
        <param name="deadzone" value="0.05"/>
        <param name="autorepeat_rate" value="5"/>
        <param name="coalesce_interval" value="0.01"/>
    </node>
    <node pkg="visual_servo" type="maTest" name="maTest" output="screen">
        <param name="max_linear_velocity" value="0.8"/>
        <param name="max_angular_velocity" value="0.5"/>
    </node>
    <include file="$(find rubber_navigation)/launch/baseOnly.launch">
        <arg name="publish_robot_source_odom_tf" value="true"/>
    </include>
</launch>
