<launch>
    <arg name="sim" default="false"/>
    <arg name="enable_infra1" default="false"/>
    <arg name="enable_infra2" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="robot_ip" default="192.168.1.101"/>


    <!--Launch the realsense ros wrapper-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_infra1" default="$(arg enable_infra1)"/>
        <arg name="enable_infra2" default="$(arg enable_infra2)"/>
    </include>


    <!-- Launch aubo moveit -->
    <include file="$(find aubo_i5_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="sim" default="${arg sim}"/>
        <arg name="robot_ip" default="${arg robot_ip}"/>
    </include>

    <!-- run our own node -->
    <node pkg="visual_servo" type="real_sense" name="real_sense"/>
    <node pkg="visual_servo" type="visual_servo" name="visual_servo"/>
</launch>
