<launch>
    <arg name="sim" default="false"/>
    <arg name="enable_infra1" default="false"/>
    <arg name="enable_infra2" default="false"/>
    <arg name="camera_config" default="$(find visual_servo)/config/camera.yaml"/>


    <!--Launch the realsense ros wrapper-->
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="enable_infra1" default="$(arg enable_infra1)"/>
        <arg name="enable_infra2" default="$(arg enable_infra2)"/>
    </include>


    <!-- run our own node -->
    <rosparam command="load" file="$(arg camera_config)"/>
    <node pkg="visual_servo" type="real_sense" name="real_sense"  output="screen" launch-prefix="gnome-terminal -e "/>
</launch>
