<launch>
    <arg name="sim" default="true"/>
    <arg name="enable_infra1" default="false"/>
    <arg name="enable_infra2" default="false"/>
    <arg name="debug" default="false"/>
    <!-- Launch aubo moveit -->
    <include if="$(arg sim)" file="$(find aubo_i5_moveit_config)/launch/demo.launch"/>

    <!--Launch the realsense ros wrapper-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_infra1" default="$(arg enable_infra1)"/>
        <arg name="enable_infra2" default="$(arg enable_infra2)"/>
    </include>

    <!-- run our own node -->
    <node pkg="visual_servo" type="visual_servo" name="visual_servo">
    </node>
</launch>
