<launch>
    <arg name="config_file" default="$(find visual_servo)/config/parameter.yaml"/>
    <arg name="camera_config" default="$(find visual_servo)/config/camera.yaml"/>
    <arg name="enable_infra1" default="false"/>
    <arg name="enable_infra2" default="false"/>
    <arg name="sim" default="true"/>
    <arg name="robot_ip" default="192.168.2.13"/>

    <!--Launch the realsense ros wrapper-->
    <include file="$(find aubo_gazebo)/launch/aubo_i5_simulation.launch" />

    <include file="$(find aubo_i5_moveit_config)/launch/moveit_planning_execution.launch">
      <arg name="sim" value="$(arg sim)"/>
      <arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>

    <!--Launch the image processing node-->
    <rosparam command="load" file="$(arg camera_config)"/>
    <node pkg="visual_servo" type="real_sense" name="real_sense" respawn="true"/>

    <!-- Launch our own node-->
    <rosparam command="load" file="$(arg config_file)"/>
    <!--node pkg="visual_servo" type="visual_servo" name="visual_servo" output="screen" launch-prefix="gnome-terminal -e"/-->
</launch>
